/*Elementos Base*/

* {
	font-family: "Open Sans", sans-serif;
	font-family: "Oswald", sans-serif;
	font-family: "PT Sans", sans-serif;
	font-family: "Roboto", sans-serif;
	text-decoration: none;
	list-style-type: none;
}

h1 {
	font-size: 48px;
}

/*Header*/
.header {
	background-image: url("https://c4.wallpaperflare.com/wallpaper/213/699/609/super-mario-bros-wallpaper-preview.jpg");
	background-size: cover;
	color: orange;
	height: 350px;
}

/*Nav*/

.barra-navegacion {
	display: flex;
}

.izquierda {
	margin-right: auto;
}

/*Hero*/
.contenedor-header {
	display: flex;
}
