/*Elementos Base*/

* {
	font-family: "Open Sans", sans-serif;
	font-family: "Oswald", sans-serif;
	font-family: "PT Sans", sans-serif;
	font-family: "Roboto", sans-serif;
	text-decoration: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 80px;

	color: rgb(255, 255, 255);
	text-shadow: rgb(175, 175, 175) 4px 4px 4px;
}

.main-container {
	width: 80%;
	margin: 0 auto;
}

/*Header*/

#particles-js {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
}

.header {
	background-image: url("/images/super-mario-3d-world-bowsers-fury-lm.jpg");
	background-size: cover;
	background-position: center;
	color: rgb(214, 214, 214);
	height: 100vh;
}

/*Nav*/

.barra-navegacion {
	display: flex;
	gap: 15px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.459);
}

.izquierda {
	margin-right: auto;
}

li:hover {
	color: rgb(255, 255, 255);
	font-size: 1.2rem;
	transition: 0.3s;
}

li {
	margin-top: 14px;
	transition: 0.3s;
	margin-right: 15px;
}

/*Hero*/
.contenedor-header {
	display: flex;
}

.imagen-hero img {
	height: 250px;
	width: auto;
}

button {
	padding: 1rem;
	background-color: rgb(248, 133, 1);
	color: white;
	border-radius: 1rem;
}
